.cover{
  
      height: 100%;
    
      background-color: #FFFFFF;
  }
  .notification-item {
    display: flex;
    align-items: center;
    gap: 2px;
    text-align: center;
  }
 
  .cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .notification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 28px;
   
  }
  .icon-container {
    // margin-right: 12%;
    margin-left: 10%;
    display: flex;
  
  
  }
  i{
    margin-top: -5px;
  }
  .text-container {
    flex-grow: 1;
    display: flex;
    margin-right: 11%;
  }
  hr{
    width: 80%;
    margin-left: 20%;
   
  }
  
  