<div class="cover">
    <div class="date">
        <p>TODAY</p>
    </div><br>
    <div class="message">
        <div class="para1">
            <div class="p"> <i class="fa-solid fa-lock " id="icon"></i></div>
            <div class="p"><b>Messages and calls are end-to-end encrypted.No one outside of this chat,not even</b></div>
        </div>
        <div class="para2">
        <div class="p"><b>Whatsapp,can read or listen to them.Click to learn more.</b></div>
        </div>
    </div>
</div>
