.cover{
    width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      background-color: #F1F1F1;
      gap: 1%;
     
     
  }
  .contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    margin-left: 2%;
   
   

  }
  input{
    width: 86%;
    height: 50%;
    border-radius: 13px;
    background-color: #fff;
    outline: none;
    border: none;
  }
  i{
    
  color: #7c7c7c;
  }